body {
    background-image: url(dollarsign.png)
    
}

header {
    
    margin: 10px;
    
   
    font-size: 45px;
    /* This is Navy Blue */
   
    background-color: #668cff;
    text-align: center;
    margin-right: 20%;
    margin-left: 20%;
}

.loanform {
    
    margin-left: 20%;
    margin-right: 20%;
    /* This is Sky Blue */
    background-color: #668cff;
    text-align: center;
    font-family: 'ar julian';
    font-size: 24px;
}

input {
    
    
    font-family: 'arial';
    font-size: 18px;
    display: inline-block;
    text-align: center;
}

